*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maindiv{
    padding: 20px;
    margin: 20px;
    background-color: aqua;
    width: 20%;
}

#btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    align-items: center;
}